/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap')
{
    font-family: 'Poppins', sans-serif;
}
.bg-custom{
    background-color: #000000;
}
.section-heading{
    color: #db1eca;
    text-align: center;
}
.section-heading h1{
    font-size: 110px;
}
.background-color{
    background-color: #000000;
    padding: 80px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 100px;
}
.icon-text{
    color: white;
    text-align: center;
}
.text-icon{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.about-image{
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
    background-color: #191919;
}
.about{
    text-align: center;
    color: white;
    padding-top: 155px;
    padding-left: 10px;
    padding-right: 80px;
}
.about i{
    color: #FD4766;
    font-size: 80px;
}
.about h1{
    font-size: 50px;
}